@font-face {
    font-family:'colfax-web';
    src: url('webfonts/ColfaxWebRegular.eot') format('embedded-opentype');
    src: url('webfonts/ColfaxWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
    font-family:'colfax-web';
    src: url('webfonts/ColfaxWebMedium.eot') format('embedded-opentype');
	src: url('webfonts/ColfaxWebMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}
