{% capture content %}
<div class="wide-wrap gradient">
    <div class="wrap mb">
        <div class="banner">
            <h1><span>oops!</span></h1>
        </div>
    </div>
</div>

<div class="wrap mb">
    <h3>Sorry, that page doesn't exist.</h3>
    <p>But since we have your attention, how about you head over to our <a href="/donate">donate</a> page? Pretty please?</p>
    <a href="/donate" class="btn green">donate now</a>
</div>
{% endcapture %}

{% include 'layouts/default' %}