{% capture content %}
<div class="wide-wrap gradient">
    <div class="wrap mb">
        <div class="banner">
            <h1>let's put the "do" in <span>donate</span></h1>
        </div>
    </div>
</div>

<div class="wrap">
    <p class="callout blue">Together, we can feed, clothe, and inspire 1,000 kids in Haiti. All it takes is a simple donation.</p>
</div>

<section class="wrap donate_section mb2">
    <a href="https://plasso.co/s/0mcvyIdfJC" class="donate-big plo-button">donate now</a>
    <div class="donate-buttons">
        <a href="https://plasso.co/s/0mcvyIdfJC?price=5" class="btn green plo-button">$5</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=10" class="btn green plo-button">$10</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=20" class="btn green plo-button">$20</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=50" class="btn green plo-button">$50</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=100" class="btn green plo-button">$100</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=200" class="btn green plo-button">$200</a>
        <a href="https://plasso.co/s/0mcvyIdfJC?price=500" class="btn green plo-button">$500</a>
        <a href="https://plasso.co/s/0mcvyIdfJC" class="btn green plo-button">OTHER</a>
    </div>
</section>

<div class="wrap mb">
    <p class="callout-small light-gray">If you're donating for a photography session, you can use the "other" option above or click on the dollar amount in your photographer's profile. Please include their name when prompted.</p>
</div>

{% include 'includes/soccer-gear' %}

{% include 'includes/stories' %}

{% endcapture %}

{% capture footer_scripts %}
<script async type='text/javascript' src='https://plasso.co/embed/v2/embed.js'></script>
{% endcapture %}

{% include 'layouts/default' %}