{% capture content %}
    <div class="wide-wrap gradient">
        <div class="wrap">
            <div class="banner">
                <h1>making a <span>difference</span>, <br>one <span>photo</span> at a time.</h1>
                <a href="/donate" class="btn donate">donate now</a>
                <h3 class="thin">or <a href="about/the-cause">learn more</a></h3>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="placeholder mb"></div>    
        <figure class="home-video mb">
            <div class="video">
                <iframe src="https://player.vimeo.com/video/172063030?color=33cbd2&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <figcaption>
                <h3 class="thin blue">Join us this October</h3>
                <p>Watch our founder, Perry Smith, talk about the impact your generosity will make this October.</p>
            </figcaption>
        </figure>

        <header><h2 class="divider">get involved</h2></header>
        <section class="triple-threat">
            <div class="triple-threat_item">
                <h3 class="blue">photographer?</h3>
                <p>Giving back shouldn’t be complicated. Use your passion and profession to make a difference.</p>
                <a href="get-involved/i-take-photos" class="btn">learn more</a>
            </div>
            <div class="triple-threat_item">
                <h3 class="blue">need photos?</h3>
                <p>Team up with our community of photographers that are passionate about their craft and charity.</p>
                <a href="get-involved/i-want-photos" class="btn">learn more</a>
            </div>
            <div class="triple-threat_item">
                <h3 class="green">have soccer gear?</h3>
                <p>Kids in Haiti need cleats, balls, and shorts. Consider putting your used equipment to good use.</p>
                <a href="get-involved/i-play-soccer" class="btn green">learn more</a>
            </div>
        </section>
    </div>

    <div class="wide-wrap gray">
        <section class="wrap partner-feature">
            <div class="partner-logo"><a href="http://sportdisciple.com/"><img src="/assets/SportDisciple_Shield_BW3D.png" height="152" width="135" alt="Sport Disciple shield" style="opacity:0.7;"></a></div>
            <div class="partner-text">
                <h3>helping 1,000 kids in Haiti</h3>
                <p>This year, we’re partering with <a href="http://sportdisciple.com/" target="_blank">Sport Disciple</a> to feed, clothe, and inspire kids in Haiti. Sport Disciple’s program incorporates soccer, community service, leadership development, and life classes, all while providing food, clean water, and a safe environment for 1,000 kids. <a href="/about/the-cause">Learn more...</a></p>
            </div>
        </section>
    </div>

    {% include 'includes/stories' %}

    <section class="wrap mb">
        <header><h2 class="divider">last year</h2></header>
        <img src="/assets/oneMonth15_infographic.png" class="infographic" alt="2015 infographic stats">
    </section>
{% endcapture %}

{% include 'layouts/index' %}