<div class="wide-wrap gradient">
    <div class="wrap mb">
        <h2 class="white">donate soccer equipment</h2>
        <section class="triple-threat">
            <div class="triple-threat_item">
                <img src="/assets/soccer-cleat_white.svg" alt="" height="67" width="87">
                <h3 class="white">soccer cleats</h3>
                <p class="white">Help a Haitian kick by donating used kicks. We’ll take any size for kids age 5–18.</p>
            </div>
            <div class="triple-threat_item">
                <img src="/assets/soccer-ball_white.svg" alt="" height="78" width="78">
                <h3 class="white">soccer balls</h3>
                <p class="white">Soccer balls can take a beating on the harsh terrain. Let’s help them bounce back.</p>
            </div>
            <div class="triple-threat_item">
                <img src="/assets/shorts_white.svg" alt="" height="65" width="78">
                <h3 class="white">black shorts</h3>
                <p class="white">Let’s keep these kids cool and comfortable. We’ve got the jerseys covered already.</p>
            </div>
        </section>
        <div class="wrap center mb2">
            <a href="mailto:{{ site.meta.email }}?subject=Soccer Equipment Donation" class="btn white">email us to coordinate</a>
        </div>
    </div>
</div>